[submodule ".vim/pack/syntax/start/ale"]
	path = .vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/opt/denops.vim"]
	path = .vim/pack/plugins/opt/denops.vim
	url = https://github.com/vim-denops/denops.vim
[submodule ".vim/pack/plugins/opt/ddc.vim"]
	path = .vim/pack/plugins/opt/ddc.vim
	url = https://github.com/Shougo/ddc.vim
[submodule ".vim/pack/plugins/opt/ddc-tabnine"]
	path = .vim/pack/plugins/opt/ddc-tabnine
	url = https://github.com/LumaKernel/ddc-tabnine.git
[submodule ".vim/pack/plugins/opt/ddc-ui-native"]
	path = .vim/pack/plugins/opt/ddc-ui-native
	url = https://github.com/Shougo/ddc-ui-native.git
