[user]
	email = brian.mcclune@proton.me
	name = Brian McClune
[core]
	autocrlf = input
[alias]
	adog = log --all --decorate --oneline --graph
[credential "https://gitea.kubernetes.bri"]
	provider = generic
